mobi-europe/source/src/main/resources/wsdl/DestinationPMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://webservice.pms.mobieurope.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  name="PmsServerService"
                  targetNamespace="http://webservice.pms.mobieurope.com">
    <wsdl:types>
        <xs:schema xmlns:mobieuropeData="http://webservice.common.mobieurope.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://webservice.common.mobieurope.com"
                   version="1.0">
            <xs:element name="LocalService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="localServiceIdentifier" type="xs:string"/>
                        <xs:element name="localServiceStatus" type="mobieuropeData:ServiceStatus"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceTypesList" nillable="true"
                                    type="mobieuropeData:ServiceType"/>
                        <xs:element ref="mobieuropeData:Location"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Location">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="latitude" type="xs:string"/>
                        <xs:element name="longitude" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResponseError">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="errorCode" type="xs:string"/>
                        <xs:element name="errorMsg" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:simpleType name="ServiceStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AVAILABLE"/>
                    <xs:enumeration value="IN_USE"/>
                    <xs:enumeration value="OUT_OF_SERVICE"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="ServiceType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="EV_CHARGING"/>
                    <xs:enumeration value="PARKING"/>
                </xs:restriction>
            </xs:simpleType>

        </xs:schema>
        <xs:schema xmlns:mobieuropeData="http://webservice.common.mobieurope.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://webservice.pms.mobieurope.com"
                   version="1.0">
            <xs:import xmlns:mobieuropeData="http://webservice.common.mobieurope.com"
                       namespace="http://webservice.common.mobieurope.com"/>
            <xs:element name="authorizeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pmsIdentifier" type="xs:string"/>
                        <xs:element name="userIdentifier" type="xs:string"/>
                        <xs:element name="serviceTypeIdentifier" type="mobieuropeData:ServiceType"/>
                        <xs:element name="localServiceIdentifier" type="xs:string"/>
                        <xs:element minOccurs="0" name="connectorIdentifier" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authorizeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="authorizationIdentifier" type="xs:string"/>
                        <xs:element minOccurs="0" ref="mobieuropeData:ResponseError"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getLocalServiceStatusRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="localServiceIdentifier" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocalServiceStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="mobieuropeData:LocalService"/>
                        <xs:element minOccurs="0" ref="mobieuropeData:ResponseError"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocalServicesListRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="mobieuropeData:Location"/>
                        <xs:element name="searchRadius" type="xs:long"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceTypesList" nillable="true"
                                    type="mobieuropeData:ServiceType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocalServicesListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="mobieuropeData:LocalService"/>
                        <xs:element minOccurs="0" ref="mobieuropeData:ResponseError"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="requestStartTransactionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="requestIdentifier" type="xs:string"/>
                        <xs:element name="authorizationIdentifier" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestStartTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="mobieuropeData:ResponseError"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestStopTransactionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="requestIdentifier" type="xs:string"/>
                        <xs:element name="authorizationIdentifier" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestStopTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="mobieuropeData:ResponseError"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>

    </wsdl:types>
    <wsdl:message name="requestStopTransactionResponse">
        <wsdl:part element="tns:requestStopTransactionResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="getLocalServicesList">
        <wsdl:part element="tns:getLocalServicesListRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getLocalServiceStatusResponse">
        <wsdl:part element="tns:getLocalServiceStatusResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="getLocalServiceStatus">
        <wsdl:part element="tns:getLocalServiceStatusRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="requestStopTransaction">
        <wsdl:part element="tns:requestStopTransactionRequest" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="getLocalServicesListResponse">
        <wsdl:part element="tns:getLocalServicesListResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="requestStartTransaction">
        <wsdl:part element="tns:requestStartTransactionRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="authorize">
        <wsdl:part element="tns:authorizeRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="authorizeResponse">
        <wsdl:part element="tns:authorizeResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="requestStartTransactionResponse">
        <wsdl:part element="tns:requestStartTransactionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="PmsServerPortType">
        <wsdl:operation name="requestStartTransaction">
            <wsdl:input message="tns:requestStartTransaction" name="requestStartTransaction"/>
            <wsdl:output message="tns:requestStartTransactionResponse" name="requestStartTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authorize">
            <wsdl:input message="tns:authorize" name="authorize"/>
            <wsdl:output message="tns:authorizeResponse" name="authorizeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getLocalServicesList">
            <wsdl:input message="tns:getLocalServicesList" name="getLocalServicesList"/>
            <wsdl:output message="tns:getLocalServicesListResponse" name="getLocalServicesListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLocalServiceStatus">
            <wsdl:input message="tns:getLocalServiceStatus" name="getLocalServiceStatus"/>
            <wsdl:output message="tns:getLocalServiceStatusResponse" name="getLocalServiceStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="requestStopTransaction">
            <wsdl:input message="tns:requestStopTransaction" name="requestStopTransaction"/>
            <wsdl:output message="tns:requestStopTransactionResponse" name="requestStopTransactionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PmsServerServiceSoapBinding" type="tns:PmsServerPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="requestStartTransaction">
            <soap12:operation soapAction="requestStartTransaction" style="document"/>
            <wsdl:input name="requestStartTransaction">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestStartTransactionResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorize">
            <soap12:operation soapAction="authorize" style="document"/>
            <wsdl:input name="authorize">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="authorizeResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="getLocalServicesList">
            <soap12:operation soapAction="getLocalServicesList" style="document"/>
            <wsdl:input name="getLocalServicesList">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLocalServicesListResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLocalServiceStatus">
            <soap12:operation soapAction="getLocalServiceStatus" style="document"/>
            <wsdl:input name="getLocalServiceStatus">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLocalServiceStatusResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestStopTransaction">
            <soap12:operation soapAction="requestStopTransaction" style="document"/>
            <wsdl:input name="requestStopTransaction">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="requestStopTransactionResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PmsServerService">
        <wsdl:port binding="tns:PmsServerServiceSoapBinding" name="PmsServerBinding">
            <soap12:address location="http://localhost:8085/mobieu/ws/PmsServerService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
